@model bpm.Models.Entry

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Entry</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateEntered)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateEntered)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Systolic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Systolic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diastolic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diastolic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pulse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pulse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
