@model IEnumerable<bpm.Models.Month>

@{
    ViewData["Title"] = "Months";
}

<div class="index-links">
    <a asp-action="Create">record a new entry</a>

    <a href="#" class="float-right filter-entries">filter entries</a>
</div>
<div class="filters-div text-center" style="display: none;">
    <a class="btn btn-outline-primary filter-btn" asp-action="Last7Days">7 Days</a>
    <a class="btn btn-outline-primary filter-btn" asp-action="Last30Days">30 Days</a>
    <a class="btn btn-outline-primary filter-btn" asp-action="Last12Months">12 Months</a>
</div>

<div class="months-container text-center">
    @foreach (var item in Model)
    {
        <a class="btn month-btn" asp-action="MonthData" asp-route-month="@item.Mnth" asp-route-year="@item.Yr">
            @System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(item.Mnth) @item.Yr
            <span class="text-success">  @Math.Round(@item.SysAvg, 0, MidpointRounding.AwayFromZero) / @Math.Round(@item.DiaAvg, 0, MidpointRounding.AwayFromZero)</span>
        </a>
    }
</div>


<script>
    const filterEntries = document.querySelector('.filter-entries');
    const filtersDiv = document.querySelector('.filters-div');
    filterEntries.addEventListener('click', (e) => {
        if (filtersDiv.style.display === "none") {
            filtersDiv.style.display = "block";
        } else {
            filtersDiv.style.display = "none";
        }
    });
</script>